*{
 margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
 background-color: lightblue;
  color: black;
 display: center;
}

 img {
 display: center;
  align-context: center;
  text-align: center;
}

