/*This is the css style file for the excursion project.

* {
    margin: 0;
    padding: 0;
box-sizing: border-box;
}


body, html {
background-color: black;
color: white;
}

img {
background-color: white;
}
